langchain
langchain-groq
langchain-community
langchain-text-splitters
python-dotenv
streamlit
pydantic
ddgs
beautifulsoup4
pypdf
chromadb
wikipedia
pandas
tabulate
numpy<2
google-api-python-client
google-auth-httplib2
google-auth-oauthlib


